*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 128px;
    color: rgb(35, 35, 35);
    background-color: rgb(235, 235, 235);
    min-height: 100vh;
    display: flex;
}

.imperial {
    font-size: 32px;
}

.wrapper {
    height: 100%;
    max-width: 25rem;
    padding: 32px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}